devops-academy-terraform\ec2\.terraform\providers\registry.terraform.io\hashicorp\aws\4.67.0\linux_amd64\terraform-provider-aws_v4.67.0_x5
devops-academy-terraform\rds\terraform.tfstate
devops-academy-terraform\rds\terraform.tfstate.backup
devops-academy-terraform\ec2\terraform.tfstate
devops-academy-terraform\ec2\terraform.tfstate.backup